{% extends 'app/header_base.html' %}

{% block content %}
    <div class="ui center aligned grid" style="margin-top: auto; margin-bottom: auto; width: 100%">
        <div class="three wide column"></div>
        <div class="ten wide column">
            <h2 class="ui teal image header">
                <div class="content">
                    Create Account
                </div>
            </h2>
            <form class="ui large form" method="POST">
                <div class="ui stacked segment">
                    <div class="ui required field">
                        <label style="text-align:left">Name</label>
                        <div class="two fields">
                            <div class="ui field">
                                <input type="text" name="first_name" maxlength="30" id="id_first_name" placeholder="First Name">
                            </div>
                            <div class="ui field">
                                <input type="text" name="last_name" maxlength="30" id="id_last_name" placeholder="Last Name">
                            </div>
                        </div>
                    </div>
                    <div class="field required">
                        <label style="text-align:left">Start with email address</label>
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="email" name="email" maxlength="100" id="id_email" placeholder="Email Address">
                        </div>
                    </div>
                    <div class="ui required field">
                        <label style="text-align:left">Password</label>
                        <div class="two fields">
                            <div class="ui field">
                                <input type="password" name="password1" required="" id="id_password1" placeholder="Password" >
                            </div>
                            <div class="ui field">
                                <input type="password" name="password2" required="" id="id_password2" placeholder="Confirm Password">
                            </div>
                        </div>
                    </div>
                    {% csrf_token %}
                    <div class="field">
                        <div class="ui required inline field">
                            <div class="ui checkbox">
                                <input type="checkbox" id="agree-to-terms" name="agreeToTerms" value="agreeToTerms" />
                                <label htmlFor="agree-to-terms">I agree to the terms and conditions.</label>
                            </div>
                        </div>
                        <button class="ui fluid large teal submit button">Sign Up</button>
                    </div>
                    {% if form.errors %}
                        <div class="ui visible error message">
                            <ul class="list">
                                {% for key, error in form.errors.items %}
                                    <li>
                                        {{ error.as_text }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </form>
        </div>
        <div class="three wide column"></div>
    </div>
{% endblock %}
