{% extends 'app/header_base.html' %}

{% block content %}
    <div class="ui center aligned grid" style="margin-top: auto; margin-bottom: auto; width: 100%">
        <div class="three wide column"></div>
        <div class="ten wide column">
            <div class="ui warning message">
                <div class="header">
                    Your account is already activated!
                </div>
                <p>Return to login to your account</p>
                <br />
                <div class="item">
                    <a class="ui button" href="{% url 'sso:login' %}">Okay</a>
                </div>
            </div>
        </div>
        <div class="three wide column"></div>
    </div>
{% endblock %}
