{% extends 'app/school_base.html' %}
{% load static %}

{% block content %}
    <div class="ui grid" style="flex: 1">
        <div class="two wide column"></div>
        <div class="twelve wide column">
            <div class="ui header">
                Bookmarks
            </div>
            <div class="ui segments">
                {% for bookmark in bookmark_list %}
                    <div class="ui segment">
                        <div class="ui grid">
                            <div class="three wide column">
                                <div class="ui image">
                                    <a href="{% url 'app:school_detail' bookmark.school.id %}">
                                        <img src="{% static '/catholicHigh.jpg' %}" />
                                    </a>
                                </div>
                            </div>
                            <div class="thirteen wide column">
                                <a class="ui header" href="{% url 'app:school_detail' bookmark.school.id %}">{{ bookmark.school.school_name }}</a>
                                <div>
                                    <p>{{ bookmark.school.address }}</p>
                                    <p>{{ bookmark.school.postal_code }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="two wide column"></div>
    </div>
{% endblock %}