{% extends 'app/base.html' %}
{% block body %}
    <body style="display: flex; flex-direction: column;">
        <div class="ui large top attached borderless menu" style="height: 4rem">
            <a href="/" class="item">
                <img src="/static/logo.png">
            </a>
            <div class="right menu">
                <div class="item">
                    <button class="ui button" style="padding-left: 50px;padding-right: 50px;">Admin</button>
                </div>
                <div class="item">
                    <button class="ui button" style="padding-left: 50px;padding-right: 50px;">Logout</button>
                </div>
            </div>
        </div>
        <div class="ui six item large bottom attached menu" style="height: 3rem">
            <div class="ui container">
                <div class="active item">Home</div>
                <div class="item">School List</div>
                <div class="item">Bookmark</div>
                <div class="item">Comparison</div>
                <div class="item">FAQ</div>
                <div class="item">Contact Us</div>
            </div>
        </div>
        <div class="ui text container" style="display: flex; flex: 1; margin-bottom: 14rem;">
            {% block content %}
            {% endblock %}
        </div>
    </body>
{% endblock %}