{% extends 'app/header_base.html' %}
{% block content %}
    <div class="ui one column center aligned grid" style="margin-top: auto; margin-bottom: auto; width: 100%">
        <div class="column">
            <div class="ui image">
                <img src="/static/logo.png">
            </div>
        </div>
        <div class="column">
            <form class="ui large form">
                <div class="ui grid">
                    <div class="two wide column"></div>
                    <div class="twelve wide column">
                        <div class="ui action huge fluid input">
                            <input type="text" placeholder="Enter PSLE Score">
                            <button class="ui teal button"><center>GO</center></button>
                        </div>
                    </div>
                    <div class="two wide column"></div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}