{% extends 'app/home/base.html' %}
{% block content %}
    <div class="ui one column center aligned grid" style="margin: auto;">
        <div class="column">
            <div class="ui image">
                <img src="/static/logo.png">
            </div>
        </div>
        <div class="column">
            <div class="ui huge header">
                Enter PSLE score
            </div>
            <form class="ui large form">
                <div class="ui grid">
                    <div class="five wide column"></div>
                    <div class="six wide column">
                        <div class="ui fluid input">
                            <input name="score">
                        </div>
                    </div>
                    <div class="five wide column"></div>
                    <div class="five wide column"></div>
                    <div class="six wide column">
                        <button class="ui fluid button">Search</button>
                    </div>
                    <div class="five wide column"></div>
                </div>
            </form>
        </div>
        <div class="column">
            <div class="ui large header">
                Announcement
            </div>
            <div class="ui segment">
                    Soft launch on October 2017. --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------                            
            </div>
        </div>
    </div>
{% endblock %}